
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;


}

.hero{
background-image: url("images/bg1.jpg");
height: 300px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow: hidden;
color: aqua;

}

.project-1{

    margin-top: 15px;
    overflow: hidden;

}

.projectitem{

float: left;
width: 32%;
border: 2px solid green;
margin-left: 10px;
margin-bottom: 10px;
height: 300px;
background-color: antiquewhite;
text-align: center;
color: green;

}
.projectimage{

width: 100%;
height: 200px;

}

 .footer{
margin-top: 10px;
height: 150px;
background-color: antiquewhite;
color: green;

}

.footeritem{

    float: left;
width: 33%;
margin-top: 10px;


}

.link{

text-decoration: none;
color: red;
display: block;

}



@media screen and (max-width: 500px){

.hero{

height: 280px;

}


}



@media screen and (max-width: 750px){


    .projectitem{
    width: 235px; 




 }



}




@media screen and (max-width: 735px){


    .projectitem{
    width: 230px; 




 }



}












@media screen and (max-width: 720px){


    .projectitem{
    width: 225px; 




 }



}





@media screen and (max-width: 705px){


    .projectitem{
    width: 220px; 




 }



}


@media screen and (max-width: 690px){


    .projectitem{
    width: 215px; 




 }



}



@media screen and (max-width: 675px){


    .projectitem{
    width: 210px; 




 }



}

@media screen and (max-width: 660px){



    .projectitem{
    width: 205px; 




 }



}

@media screen and (max-width: 645px){


    .projectitem{
    width: 200px; 




 }



}


@media screen and (max-width: 475px){


    .projectimage{

   height: 195px; ;



    }




 }



@media screen and (max-width: 630px){



    .projectitem{
    width: 195px; 




 }



}
@media screen and (max-width: 600px){



    .projectitem{
    width: 185px; 




 }



}



@media screen and (max-width: 585px){



    .projectitem{
    width: 180px; 




 }



}


@media screen and (max-width: 570px){



    .projectitem{
    width: 175px; 




 }



}


@media screen and (max-width: 555px){



    .projectitem{
    width: 170px; 




 }



}
@media screen and (max-width: 540px){



    .projectitem{
    width: 165px; 




 }



}
@media screen and (max-width: 525px){



    .projectitem{
    width: 160px; 




 }



}

@media screen and (max-width: 515px){



    .projectitem{
    width: 155px; 




 }



}



@media screen and (max-width: 495px){



    .projectitem{
    width: 150px; 




 }



}
@media screen and (max-width: 480px){



    .projectitem{
    width: 145px; 




 }



}
@media screen and (max-width: 465px){



    .projectitem{
    width: 140px; 




 }



}



@media screen and (max-width: 450px){



    .projectitem{
    width: 135px; 




 }



}


@media screen and (max-width: 435px){



    .projectitem{
    width: 130px; 




 }



}
@media screen and (max-width: 420px){



    .projectitem{
    width: 190px; 




 }



}

@media screen and (max-width: 400px){



    .projectitem{
    width: 400px; 




 }



}

@media screen and (max-width: 385px){



    .projectitem{
    width: 400px; 




 }



}
@media screen and (max-width: 370px){



    .projectitem{
    width: 400px; 




 }



}


@media screen and (max-width: 355px){



    .projectitem{
    width: 400px; 




 }



}

@media screen and (max-width: 340px){



    .projectitem{
    width: 400px; 




 }



}
@media screen and (max-width: 335x){



    .projectitem{
    width: 400px; 




 }



}


@media screen and (max-width: 525px){



    .footeritem{
    
        width: 170px;




 }



}
@media screen and (max-width: 510px){



    .footeritem{
    
        width: 165px;




 }



}


@media screen and (max-width: 495px){



    .footeritem{
    
        width: 155px;




 }



}

@media screen and (max-width: 465px){



    .footeritem{
    
        width: 150px;




 }



}
@media screen and (max-width: 450px){



    .footeritem{
    
        width: 145px;




 }



}